<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>Forgot Password</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="forgotPasswordForm">

        <div fxFlex FxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-lable>Email</mat-lable>
                <inpout matInput formControlName="email" required></inpout>
                <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
                    <span *ngIf="forgotPasswordForm.controls.email?.erros?.required">This field is mandatory</span>
                    <span *ngIf="forgotPasswordForm.controls.email?.erros?.pattern">This field is invalid</span>
                    
                </mat-error>

            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>