<mat-nav-list appAccordion>
    <ng-container *ngFor="let menuItem of menuItems.getMenuItem()">
        <mat-list-item appAccordionLink routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: false }"
            group="{{menuItem.state}}" *ngIf="menuItem.role === '' || menuItem.role === tokenPayload.role">
            <a appAccordionToggle [routerLink]="['/cafe', menuItem.state]">
                <mat-icon>{{ menuItem.icon }}</mat-icon>
                <span>{{ menuItem.name }}</span>
                <span fxFlex></span>
            </a>
        </mat-list-item>
    </ng-container>
</mat-nav-list>